<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
<h3>Assignment</h3>
</head>
<body>
<header>
		<div class="title">
			
		</div>
		<div class="meta">
		
		</div>
</header>
	<div class="excerpt">

	</div>
	<footer>
		<ul class="actions">
			<li><a href="/signup" class="button big">Signup</a></li>
			<li><a href="/post_detail" class="button big">retrive data</a></li>
			<li><a href="/timeline" class="button big">timeline</a></li>
		</ul>
		
	</footer>

<ul class="actions pagination">
	<li><a href="" class="">Home Page</a></li>
	<li><a href="" class="button big next">Next Page</a></li>
</ul>

</div>



</body>
</html>